<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :"Enter Your Name", style: "display: block", class: "form-control" %>
    <%= form.text_area :name %>
  </div>

  <div class="form-group">
    <%= form.label :laptop, "Do you own a laptop?" %><br />
    <%= form.label :laptop, "Yes", :value => "true" %>
    <%= form.radio_button :laptop, 'yes' %>
    <%= form.label :laptop, "No", :value => "false" %>
    <%= form.radio_button :laptop, 'No' %>
  </div>

  <div class="form-group">
    <%= form.select :os, ['No OS', 'Mac OSX', 'Windows 10', 'Windows 7 or below', 'Linux']%>
  </div>

  <div class="form-group">
    <%= form.submit "Submit Your Response", class: "btn btn-primary" %>
  </div>
<% end %>
